---
title: About page
layout: base.njk
---

<div class="wrapper">
    <h1>About Page</h1>

    <ul>
    {% for item in news %}
        <a href="/local/{{item.country}}.html">{{item.country}}</a>    
    {% endfor %}
    </ul>
</div>
<script src="../js/script.js"></script>