---
title: About page
layout: base.njk
---

<div class="wrapper">
    <h1>About Page</h1>

    <ul>
    {% for article in news.articles %}
        <li>
            <h3>
                <a href="{{article.url}}" target="_blank">{{article.title}}</a>
                <span>{{article.source.name}}</span>
            <h3>
        </li>
    {% endfor %}
    </ul>
</div>
<script src="../js/script.js"></script>