---
permalink: _redirects
---

/   /local/fr.html  200    Language=fr
/   /local/gb.html  200    Language=gb
/   /local/de.html  200    Language=de
/   /local/ru.html  200    Language=ru

{%- for item in news %}
/   /local/{{item.country}}.html 200  Country={{item.country}}
{%- endfor %}

/   /local/ae.html  404 